body{
    color: rosybrown;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
}

.header{
    background-color: #f1f1f1;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
}